body, html {
  height: 100%;
}

h1 {
  font-family: "teko", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "teko", sans-serif;
  font-weight: 300;
}

nav a {
  font-family: "teko", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "teko", sans-serif;
  font-weight: 300;
}

h4 {
  font-family: "teko", sans-serif;
  font-weight: 300;
}

.header-div {
  background-color: #F2F2F2;
}

.footer-container {
    background-color: #F2F2F2;
    margin-top: 0;
}

.hero-outer {
    position: relative;
}

 .hero-image {
    height: auto;
    width: 100%;
    background: url("/assets/images/pexels-leon-ardho-1552242.jpg") no-repeat center center;
 }  

 .cover-intro {
    width: 300px;
    height: 300px;
    bottom: 30px;
    right: 30px;
    position: absolute;
    background-color: rgba(237, 107, 71, 0.7);
    border-radius: 50%;
    text-align: center;
    display: grid;
    place-items: center;
    text-transform: uppercase;
 }

 .cover-intro-header {  
    font-weight: 500;
 }

 .reasons-container {
    background-color: #ED6B47;
    width: 100%;
    font-family: "teko", sans-serif;
 }
 
 .homepage-section-heading {
    margin-top: 10px;
    font-family: "teko", sans-serif;
    font-weight: 500;
    font-size: 32px;
 }

 .reasons-columns {
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 0px;
 }

 .three-reasons-icon {
    font-size: 36px;
 }

 ul {
    font-family: "teko", sans-serif;

 }

 .about-container {
    width: 100%;
    font-family: "teko", sans-serif;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
 }

 .button-center {
    text-align: center;
    font-family: "teko", sans-serif;
    font-weight: 500;
 }
 
 .btn-info {
    width: 300px;
    height: 80px;
    font-size: 24px;
    background-color: #43464b;
    color: #ED6B47;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0px;
 }

 .btn:hover {
    background-color:#ED6B47;
    color: white;
 }

.container-fluid {
    width: 100%;
}

.navbar-collapse {
    justify-content: right;
    padding-left: 0px;
}

.title-text {
    text-align: center;
    width: 80%;
    font-family: "teko", sans-serif;
    font-weight: 500;
    font-size:36px;

}
 
.navbar {
    background-color: #F2F2F2;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-brand img {
    width: 150px;
    height: 150px;
}

#spacerbox {
    width: 150px;

}

.social-footer {
    background-color: #F2F2F2;
    font-family: "teko", sans-serif;
    font-weight: 300;
}

.copy-div {
    background-color: #F2F2F2;
}


.ticker {
    margin-left: 0;
    padding-left: 0;
    background-color: rgba(125, 249, 255, .7);
    position: fixed;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-iteration-count: 10;
    animation-direction: alternate;
    opacity: 0;
    z-index: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.ticker-text {
    color: #ED6B47;
    font-family: "teko", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
}

.row-archetypes {
    padding-top: 50px;
    margin-left: 0;
    margin-bottom: 0;
    padding-right: 0;
}

.row-archetypes p {
    color: #fafafa;
}
.body-types {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin-top: 0px;
    background-color: rgba(67, 70, 75);
    border-top: 3px solid rgba(237, 107, 71, 0.4);
    
}

.type-text {
    margin-bottom: 0;
    margin-top: 5px;
    font-family: "teko", sans-serif;
    font-weight: 300;
    font-size: 24px;

}

strong {
    color: #ED6B47;
}

.shapes {
    margin-top: 0;
    margin-left: 0;
}

.ecto {
    font-size: 200px;
    color: #ED6B47;
}

.meso {
    transform: rotate(90deg);
    font-size: 200px;
    color: #ED6B47;
    text-align: center;
    }

.endo {
    font-size: 200px;
    color: #ED6B47;
}

.body-type-images {
    text-align: center;
}

.ecto-image {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: rgba(237, 107, 71, 0.4);
    border-radius: 3%;
}

.meso-image {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: rgba(237, 107, 71, 0.4);
    border-radius: 3%;
}

.endo-image {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: rgba(237, 107, 71, 0.4);
    border-radius: 3%;
}

.body-type-plans {
    margin-top: 50px;
}

.type-description {
    font-family: "teko", sans-serif;
    font-weight: 300;
    font-size: 24px;
}

#ecto-action {
    font-family: "teko", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #ED6B47;
}

#meso-action {
    font-family: "teko", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #ED6B47;
}

#endo-action {
    font-family: "teko", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #ED6B47;
}

@media (max-width: 1000px) {
    .cover-intro {
        display: none;
    }
    .body-types {
        display: none;
    }
    }

@media (max-width: 600px) {
    .about-container {
        font-size: 24px;
    }
    }

@media (min-width: 1200px) {
    .navbar-nav {
        font-size: 24px;
    }

}

@media (min-width: 1200px) {
    .reasons-why {
        font-size: 18px;
    }
    .reasons-goals {
        font-size: 18px;
    }
    .reasons-hints {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .reasons-columns {
        margin-left: 120px;
    }
}

@media (min-width: 1600px) {
    .reasons-columns {
        margin-left: 125px;
    }
}

