body, html {
  height: 100%;
}

h1 {
  font-family: "teko", sans-serif;
  font-weight: 500;
}

.header-div {
  background-color: #F2F2F2;
}

.footer-container {
    background-color: #F2F2F2;
}

 .hero-image {
    height: auto;
    width: 100%;
    background: url("/assets/images/pexels-leon-ardho-1552242.jpg") no-repeat center center;
 }  

 .cover-intro {
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 10, .7);
    bottom: 30px;
    right: 150px;
    position: absolute;
 }