body, html {
  height: 100%;
}

h1 {
  font-family: "teko", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "teko", sans-serif;
  font-weight: 300;
}

h3 {
  font-family: "teko", sans-serif;
  font-weight: 300;
}

h4 {
  font-family: "teko", sans-serif;
  font-weight: 300;
}

.header-div {
  background-color: #F2F2F2;
}

.footer-container {
    background-color: #F2F2F2;
}

 .hero-image {
    height: auto;
    width: 100%;
    background: url("/assets/images/pexels-leon-ardho-1552242.jpg") no-repeat center center;
 }  

 .cover-intro {
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color:#ED6B47;
    bottom: 30px;
    right: 150px;
    position: absolute;
 }

 .reasons-container {
    background-color: #ED6B47;
    width: 100%;
 }
 
 .homepage-section-heading {
    margin-top: 10px;

 }

 .reasons-columns {
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    height: 350px;
 }

 ul {
    font-family: roboto; sans-serif
 }

 .button-center {
    text-align: center;
    font-family: "teko", sans-serif;
    font-weight: 500;
 }

 .btn-info {
    width: 300px;
    height: 80px;
    font-size: 24px;
 }